.topbar {
	width: 100%;
	float: center;
	height 30px;
	background-color: #FFEB2A;
	border-radius: 15px 15px 15px 15px;
	border: Solid Black 2px;
}
.topbartitle {
	padding: 10px 10px 10px 10px;
}
.body {
	width: auto;
	float: right;
	height: auto;
	background-image: url(../img/bg.png);
}
.textinfobody {
	border-radius: 10px 10px 10px 10px;
	background-color: FFFFFF;
}
.sidebar {
	background-color: #FFEB2A;
	width: 40px;
	border: Solid Black 3px;
}
#all {
	background-color: #FFEB2A;
	border-radius: 0px 0px 0px 10px;
}
#guide {
	background-color: #FFEB2A;
}
#lore {
	background-color: #FFEB2A;
}
#download {
	background-color: #FFEB2A;
}
#help {
	background-color: #FFEB2A;
	border-radius: 0px 0px 10px 0px;
}
